
main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: 219, 108, 94;
  padding: 24px;
}

#todays-challenge {
  color: rgb(110, 39, 65);
  font-weight: bold;
  font-size: 52px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
